* {
    margin: 0;
    padding: 0;
}
@font-face { font-family: Vanjar; src: url('fonts/Vanjar-mA3j.ttf');}
/*Colorpalette*/
:root {
    --color1: #1A1F16; /* Eerie black */
    --color2: #1E3F29; /* Pakistan Green */
    --color3: #345830; /* Hunter Green */
    --color4: #4A7856; /* Fern Green */
    --colortext: #ffffff; /*White*/
}
/* How to use these colors*/
/* .targetclassorelement {
  background: var(--color1);
  color: var(--colortext);
} */
 html {
    background-color: var(--color1);
 }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    margin: 0;
    padding: 0;
    color: var(--colortext);
}

/*HEADER START*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgba(26, 31, 22, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(26, 31, 22, 0.3);
}

h1 {
    font-family: 'Vanjar', 'sans-serif';
    font-size: clamp(1.5rem, 6vw, 3rem);
    padding: 0.5rem;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0.2rem;
}

nav ul li a {
    background: var(--color2);
    padding: 15px;
    color: var(--colortext);
    border-radius: 0.2rem;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--color4);
}

.active {
    background-color: var(--color4);
}
/*HEADER END*/

/*MAIN START*/
.main-index {
    background: url('img/mushrooms/forest.webp');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 5rem;
    text-align: center;
}
/*CSS FOR THE HOME SECTION START*/
.section-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 800px;
    text-align: left;
    line-height: 1.5rem;
    background: rgba(26, 31, 22, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
.section-home h2{
    text-align: center;
    margin: 0;
    padding: 0;
}
.index-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/*CSS FOR THE HOME SECTION END*/
/*General CSS for figcaptions*/
figcaption {
    font-style: italic;
    padding: 0.1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--colortext);
}

/*CSS FOR THE GALLERY SECTION START*/
.section-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.7rem;
    margin: 5px auto;
    padding: 1.5rem;
    max-width: 1200px;
    background: rgba(26, 31, 22, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 5px solid rgba(0, 0, 0, 0.3);
    /*Added the glassy background from https://css.glass/ */
}
.gallery-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.gallery-text-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: fit-content;
    border-radius: 0.5rem;
    background: rgba(26, 31, 22, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 5px solid rgba(0, 0, 0, 0.3);
}
/*CSS FOR THE GALLERY SECTION END*/

/*CSS FOR THE ABOUT SECTION START*/
.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 800px;
    text-align: left;
    line-height: 1.5rem;
    background: rgba(26, 31, 22, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
.about-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about-container h2{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
/*CSS FOR THE ABOUT SECTION END*/

/*MAIN END*/

/*FOOTER START*/
.site-footer {
    background-color: var(--color1);
    padding: 1rem;
    border-top: 3px solid var(--color2);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-info {
    color: var(--colortext);
}

.social-icons a {
    margin: 0 0.5rem;
}

.social-icons img {
    width: 50px;
    height: 50px;
}
/*FOOTER END*/

/*MEDIA QUERIES*/

/*Mobile*/
@media (max-width: 500px) {
    header {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav {
        position: sticky;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul {
        display: block;
        flex-direction: column;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        width: 100%;
        padding: 0;
        margin: 0;
        border-bottom: solid var(--color1) 5px;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border-radius: 0;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
    }
    h1 {
        display: none;
    }
    .main-index {
        padding-top: 11.1rem;
    }
    .section-gallery{
        padding: 0.2rem;
        padding-bottom: 1.5rem;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }
    .contact-info {
        margin: 0.8rem;
    }

    .social-icons a {
        margin: 0.5rem;
    }
    /* Hide the navbar when scrolling down */
    .navbar-hidden {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }
}
/*MEDIA QUERIES END*/